.ytp-chrome-top.ytp-show-cards-title {
    display: none!important;
}

.tab-pane .text span a{
    color:#ff5a05;
}


.position-relative{
    position:relative;
}
.ratio-1x1 {
    --bs-aspect-ratio: 114%!important;
}

.c-drop {
    position: absolute;
    bottom: 0;
    top: 0;
    font-weight: 500;
    color: #505165d4;
    font-size: 13px;
    padding-left: 13px;
    border: none;
    border-radius: 7px;
    height: 100%;
}
.padding-left-110{
    padding-left: 110px!important;
}






.input-container {
    margin: 10px 0;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    /* margin-top: 5px; */
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  select.input {
    width: calc(100% - 18px); /* Adjust width to account for padding and border */
  }
 

.bx-2,.tabuler-section ul {
    display: flex;
    justify-content: space-between
}

.header-section.sticky header {
    margin-bottom: 0!important
}

.header-section.sticky {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    position: fixed;
    top: unset;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 2px 2px #3333330a;
    z-index: 100000;
    display: none;;
}

.desk-none,.fris-para {
    display: none;
}

.tabuler-section ul li button img {
    width: 100%;
    filter: brightness(0) invert(1)
}

.tabuler-section .nav-pills .nav-link {
    border: 0;
    border-radius: 10px;
    border: 1px solid #ffffff6e;
    height: 100px;
    width: 100px;
    padding: 18px
}

.nav-pills .show>.nav-link,.tabuler-section .nav-pills .nav-link.active {
    color: #fff;
    background-color: #ff5a05
}

.tabuler-section .tab-pane {
    text-align: center
}

.tabuler-section .text h3,.tabuler-section .text p {
    margin-bottom: 40px!important
}

.tabuler-section .count-num {
    position: absolute;
    top: -24px;
    left: -22px;
    color: #ff5702;
    background: #ff5702;
    height: 80px;
    width: 80px;
    border-radius: 50px
}

.count-num h2 {
    font-size: 30px;
    color: #fff;
    padding: 33px 33px 33px 36px
}

.carousel img,.content,.content__container,.form,.g-review-bx,.over-image,.slider,.video-embed-area,form {
    overflow: hidden
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    margin: 0;
    font-family: Helvetica
}

@font-face {
    font-family: Helvetica;
    src: url(https://viralon-frontend.vercel.app/assets/fonts/hel-medium.TTF)
}

.btn,.title {
    line-height: 1
}

.google-bx .review-txt img,.google-bx>img,.popup-modal .btn-close {
    filter: brightness(0) invert(1)
}

body,html {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0
}

ol,ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none
}

a {
    text-decoration: none
}

p {
    font-size: 16
}

:root {
    --rr-common-white: #FFFFFF;
    --rr-common-black: #000000;
    --rr-common-placeholder: #4A5764;
    --rr-body-primary: #ffffff;
    --rr-theme-primary: #ff5e28;
    --rr-theme-secondary: #07CBEB;
    --rr-heading-primary: #001D08;
    --rr-text-body: #646464;
    --rr-text-primary: #ff5e28;
    --rr-shadow-primary: 0px 30px 60px 0px rgba(0, 15, 32, 0.1);
    --rr-border-primary: 1px solid #FF3D00
}

.hover-tabs-list a {
    font-weight: 4500
}

.frequently-asked-bx .accordion-item {
    border: 1px solid #1111114d!important
}

@media screen and (min-width: 576px) {
    .carousel-inner {
        display:flex;
        width: 100%;
        padding: 1em 0;
        overflow: hidden
    }

    .carousel-item {
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100% / 2)
    }
}

.middle {
    transform: translate(-50%,-50%);
    bottom: -33%
}

.arrow-fill-bx li {
    display: flex;
    align-items: center
}

.cta-wrapper .blue-cta-button {
    font-family: Helvetica;
    text-transform: capitalize;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px
}

.card-body {
    display: flex;
    flex-flow: column;
    justify-content: space-between
}

.contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #fff;
    border-radius: 50%;
    bottom: 10px;
    right: 50px;
    opacity: .3
}

.blue-cta-button,.cta-wrapper {
    -ms-border-radius: 3px
}

@media (max-width: 850px) {
    .form {
        grid-template-columns:1fr
    }

    .contact-info:before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(.95)
    }

    .contact-form:before {
        top: -13px;
        left: initial;
        right: 70px
    }

    .big-circle {
        bottom: 63%;
        transform: scale(.9) translate(-40%,30%);
        right: 50%
    }

    .text {
        margin: 1rem 0 1.5rem
    }

    .social-media {
        padding: 1.5rem 0 0
    }
}

@media (max-width: 480px) {
    .contact-info:before {
        display:none
    }

    .contact-info,form {
        padding: 20px 0
    }

    .information,.social-media p,.text {
        font-size: .8rem
    }

    .title {
        font-size: 1.5rem
    }

    .social-icons a {
        width: 30px;
        height: 30px;
        line-height: 30px
    }

    .icon {
        width: 23px
    }

    .btn,.input {
        padding: .45rem 1.2rem
    }
}

@media (max-width: 760px) {
    .arrow-fill-bx,.shape-image-3 {
        left:0
    }

    .animated-text-inner {
        font-size: 35px
    }

    .animated-text-inner::after {
        top: 14px
    }

    .bx-2,.why-us-content-bx {
        flex-wrap: wrap
    }

    .popup-modal .title {
        margin-bottom: 30px
    }

    .popup-modal .btn-close {
        right: 0;
        z-index: 1000
    }

    .popup-modal .contact-form {
        padding-bottom: 30px
    }

    .popup-modal .bx-60 {
        width: 100%;
        padding: 10px;
        /* background-image: url(https://viralon-frontend.vercel.app/assets/images/popup-img.webp)!important; */
        height: 90vh;
        display: flex;
        flex-flow: column;
        background-position: center!important;
        justify-content: flex-end;
        background-repeat: no-repeat
    }

    .popup-modal .bx-60:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #0000007a;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0
    }

 

    .popup-modal .input-container label {
        color: #202020c7;
        font-size: 14px
    }

    .input-container {
        margin: 1.1rem 0
    }

    .popup-modal .popup-btn {
        font-size: 16px!important;
        margin: 28px auto 0
    }

    .shape-image img,.why-us-items.active,.why-us-items:hover,.wrapper-full {
        width: 100%
    }

    .hero-section {
        overflow: hidden;
        padding: 88px 0 100px;
        background: #391476
    }

    .pt-100,.ptb-100 {
        padding-top: 50px
    }

    .video-embed-area {
        width: 370px;
        margin-top: 10px
    }

    .heading,.main-heading {
        font-size: 30px;

    }
    .main-heading{
        margin-bottom: 15px!important;
        height: 70px;;
    }

    .hero-creative img {
        bottom: 12%;
        transform: scale(1.8);  
    }

    .bg-image-1 {
        background-position: right;
        width: 92%;
        margin: auto
    }

    .ptb-100 {
        padding-bottom: 50px
    }

    .star-bx .star-heading {
        font-size: 70px
    }

    .star-bx {
        max-width: unset;
        justify-content: flex-start;
        flex-wrap: wrap
    }

    .google-bx {
        padding-top: 10px;
        padding-left: 0
    }

    .google-bx>img {
        width: 85px
    }

    .review-txt img {
        width: 50px
    }

    .bg-image .para {
        padding-top: 15px
    }

    .bg-image {
        max-width: 98%;
        margin: auto;
        padding: 20px 0 50px
    }

    .carousel-inner,.req-forms {
        padding: 0
    }

    .bg-image .bg-body-tertiary {
        padding: 0!important
    }

    .req-forms .pt-50 {
        padding-top: 30px!important
    }

    form.req-forms input {
        height: 40px
    }

    form.req-forms button {
        font-size: 16px
    }

    .process-area {
        flex-wrap: wrap;
        padding-top: 34px!important
    }

    .cta-wrapper,.first-content {
        align-items: center;
        display: flex
    }

    .process-area>div {
        width: calc(50% - 8px);
        padding: 19px;
        height: auto;
        background-color: #43207d;
        margin-top: 16px;
        border-radius: 7px
    }

    .arrow-up {
        display: none!important
    }

    .process-area>div p {
        font-weight: 400;
        color: #fff;
        margin-bottom: 0;
        padding-top: 11px;
        font-size: 16px;
        max-width: 110px
    }

    .contact-info p {
        font-size: 17px
    }

    .process-item img {
        width: 55px
    }

    .cta-wrapper,.hover-tabs .row,.slide img {
        padding: 10px
    }

    .cta-wrapper .blue-cta-button {
        padding: 10px 9px;
        width: 70%;
        margin: auto;
        font-size: 13px
    }

    .why-us-items-section ol {
        padding: 0;
        flex-wrap: wrap
    }

    .why-us-items-section ol li {
        width: calc(100% - 0px);
        margin: 0;
        position: relative
    }

    .first-content {
        max-width: 100%;
        top: 11px;
        position: absolute;
        background: #ffffff94;
        padding: 5px
    }

    .first-content .why-numbers {
        font-size: 27px
    }

    .first-content h3 {
        margin: 0;
        font-size: 16px;
        padding-left: 7px
    }

    .why-us-item-bx {
        height: 220px;
        margin-top: 10px
    }

    .over-image,.tab-results .image {
        height: auto;
        width: 100%
    }

    .faq-area,.why-us-section {
        padding-top: 60px!important
    }

    .hover-tabs-list a {
        font-size: 18px;
        margin: 18px 0;
        display: flex;
        padding-left: 10px;
        align-items: center;
        white-space: nowrap
    }

    .hover-tabs-list a img {
        margin-left: 5px;
        width: 19px
    }

    .width-40 {
        width: 38%
    }

    .width-60 {
        width: 62%
    }

    .tab-results .image {
        position: relative
    }

    .middle {
        padding: 5px;
        top: 50%;
        height: 100%;
        width: 100%
    }

    .arrow-fill-bx li {
        font-size: 14px;
        margin: 20px 0
    }

    .hover-tabs {
        padding-top: 20px!important;
        overflow: hidden
    }

    .frequently-asked-bx .accordion-button {
        font-size: 16px
    }

    .blur-shape2 {
        z-index: -1
    }

    .g-review-bx {
        padding: 10px!important
    }

    .track .content {
        font-size: 2.625rem;
        line-height: 6.625rem
    }

    .section-brands {
        margin-top: 0
    }

    .blue-cta-button {
        width: 50%;
        margin-bottom: 0!important
    }

    .contact-info .title {
        font-size: 40px;
        margin-bottom: 10px
    }

    .slider .slide {
        height: 100px;
        width: 160px
    }

    .padding-left {
        padding-left: 0
    }
}

@media (max-width: 380px) {
    .star-bx .star-heading {
        font-size:60px
    }

    .hover-tabs-list a {
        font-size: 17px;
        margin: 10px 0;
        padding-left: 0
    }

    .arrow-fill-bx li {
        font-size: 14px;
        margin: 12px 0
    }

    .cta-wrapper .blue-cta-button {
        font-size: 12px
    }
}

.header-section {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: transparent;
    transition: background-color .3s ease-in-out
}

.logo img {
    width: 130px
}

/* .popup-modal {
    z-index: 1000;
} */

.main-section {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    position: relative;
    z-index: 1
}

.hero-section {
    padding: 100px 0 110px;
    position: relative;
    width: 100%;
    background: #391476
}

.pt-100,.pt-50,.ptb-100 {
    padding-top: 50px
}

.main-heading {
    font-size: 60px
}

.nav-link,.popup-modal .input:focus {
    color: #000!important
}

.padding-left {
    padding-left: 60px
}

.heading,.process-area>div p {
    color: #fff;
    text-align: center
}

.video-embed-area {
    width: 800px;
    height: 445px;
    /* pointer-events: none; */
}

.video-embed-area iframe {
    width: 100%;
    height: 445px
}

section.header-section {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important
}

.border-10 {
    border-width: 5px!important
}

.border-white {
    border-color: #fff!important
}

.hero-creative img {
    width: 100%;
    position: absolute;
    bottom: 2%
}

.shape-image {
    position: absolute;
    left: -10%;
    top: 50%
}

.shape-image-2 {
    position: absolute;
    right: 44px;
    top: 50%
}

.shape-image img {
    width: 722px
}

.shape-image-2 img {
    width: 100%;
    transform: rotate(-178deg)
}

.shape-image-3 {
    position: absolute;
    left: 57%;
    top: 22%
}

.shape-image-3 img {
    width: 290px;
    animation: 3s ease-in-out infinite moveImage
}

@keyframes moveImage {
    0%,100% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(20px)
    }
}

.infinite-circle-animation,.shape-image img {
    animation: 3s ease-in-out infinite moveImage1
}

@keyframes moveImage1 {
    0%,100% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(20px)
    }
}

.ptb-100 {
    padding-bottom: 50px
}

.heading {
    font-size: 50px;
    color: #301065!important;
    font-weight: 500
}

.bg-dark {
    background: #391476!important
}

.process-area {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.carousel-item .review-txt,.process-area>div,.star-bx .review-txt,.why-us-content-bx {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.process-area>div {
    width: calc(14.5% - 10px);
    flex-flow: column
}

.process-item img {
    width: 70px
}

.process-area>div p {
    font-weight: 400;
    padding-top: 30px;
    font-size: 18px
}

.arrow-up img {
    width: 55px;
    margin-top: -58px
}

.bg-light {
    background: #fff!important
}

.why-us-items-section ol {
    display: flex
}

.why-us-items-section ol li {
    transition: .5s!important
}

.why-us-item-bx img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: center
}

.first-content .why-numbers {
    font-size: 85px;
    font-weight: 700;
    color: #ff5a05
}

.first-content {
    display: flex;
    align-items: center;
    max-width: 142px
}

.first-content h3 {
    margin: 0;
    font-size: 16px;
    padding-left: 7px;
    font-weight: 400
}

.why-us-item-bx {
    height: 175px
}

.right-para {
    max-width: 500px
}

p.fris-para {
    margin: 0;
    padding-top: 10px;
    font-size: 15px
}

.border-2 {
    border-width: 2px!important
}

.hover-tabs-list a {
    background: unset;
    color: #fff!important;
    font-size: 23px;
    font-weight: 4500;
    margin: 2px 0;
    transition: .7s
}

.nav-pills .show>.nav-link,.nav-tab .nav-pills .nav-link.active {
    color: #fff;
    background-color: unset
}

.hover-tabs-list a img {
    width: 30px;
    transition: .7s
}

.hover-tabs-list a:hover,.hover-tabs-list a:hover img {
    margin-left: 10px
}

.tab-results {
    display: flex;
    justify-content: center
}

.tab-results .image {
    width: 100%;
    object-fit: cover;
    margin: auto;
    display: block;
    position: relative;
    height: 450px
}

.why-us-items-section ol li {
    width: calc(15% - 10px);
    margin: 0 10px
}

.why-us-items.active,.why-us-items:hover {
    width: 55%
}

.why-us-items.active .fris-para,.why-us-items.active .right-para,.why-us-items:hover .fris-para,.why-us-items:hover .right-para {
    display: block!important
}

.frequently-asked-bx .accordion-item {
    background-color: #fff;
    border: 1px solid #1111110f!important;
    margin-top: 10px;
    border-radius: 9px
}

.frequently-asked-bx .accordion-button:not(.collapsed) {
    background: 0 0;
    color: #210b39;
    box-shadow: unset;
    border-bottom: none
}

.frequently-asked-bx .accordion-button:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: unset
}

.frequently-asked-bx .accordion-button {
    background: 0 0;
    font-size: 20px;
    border-radius: 9px;
    font-weight: 500
}

.frequently-asked-bx .accordion-button:not(.collapsed)::after {
    filter: brightness(0)
}

.star-bx {
    display: flex;
    align-items: center;
    padding-left: 15px;
    max-width: 780px;
    justify-content: space-between
}

.star-bx .star-heading {
    font-size: 164px;
    color: #fff
}

.google-bx>img {
    width: 125px
}

.review-txt img {
    filter: brightness(invert1);
    width: 63px;
    margin-left: 5px
}

.review-txt p {
    color: #fff;
    margin: 0
}

.carousel img {
    width: 60px;
    max-height: 60px;
    border-radius: 50%;
    margin-right: 1rem
}

.carousel-inner {
    padding: 1em;
    margin-right: 0
}

@media screen and (min-width: 376px) {
    .carousel-inner {
        display:flex;
        width: 100%;
        padding: 1em 0;
        overflow: hidden
    }

    .carousel-item {
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100% / 2)
    }
}

@media screen and (min-width: 768px) {
    .carousel-item {
        display:block;
        margin-right: 0;
        flex: 0 0 calc(100% / 4)
    }
}

.carousel .card {
    margin: 0 .5em;
    border: 0;
    height: 295px;
    border-radius: 25px!important
}

.carousel-control-next,.carousel-control-prev {
    width: 3rem;
    height: 3rem;
    background-color: grey;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%)
}

.carousel-item .review-txt img {
    width: 65px!important;
    overflow: unset
}

.op {
    opacity: 0
}

.bg-image,.bg-image-1 {
    background-size: cover;
    background-color: #ff5702
}

.blur-shape,.blur-shape1,.blur-shape2 {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    filter: blur(62px)
}

.arrow-fill-bx li,.bg-image {
    border-radius: 25px
}

.contact-form,.contact-info,.image,.input-container,.over-image,.p-relative,form {
    position: relative
}

.bg-image-1 {
    border-radius: 50px
}

.blur-shape,.blur-shape1 {
    background: #ffc3b9;
    background: linear-gradient(0deg,#ffc3b9 22%,#777add 87%)
}

.pt-30 {
    padding-top: 30px
}

.p-30 {
    padding: 30px
}

form.req-forms input {
    height: 50px;
    background: #ffff;
    clor: #fff;
    border-radius: 9px
}

form.req-forms button {
    margin: 30px auto 0;
    display: block;
    font-size: 20px;
    box-shadow: unset
}

.blur-shape {
    right: 0;
    top: 0
}

.blur-shape1 {
    left: 0;
    top: 50%
}

.content,.input-container span:before,.middle {
    left: 50%
}

.blur-shape2 {
    background: #ffc3b9;
    background: linear-gradient(0deg,#ffc3b9 22%,#777add 87%);
    right: 10%;
    bottom: 0
}

.over-image:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #000000d6
}

.over-image {
    width: 100%;
    height: 450px
}

.middle {
    position: absolute;
    z-index: 10000;
    padding: 20px;
    width: 89%;
    top: 0;
    left: 35px
}

.middle .text {
    color: #fff;
    font-size: 16px
}

.arrow-fill-bx li {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 20px;
    flex-flow: column;
    background: #fff;
    height: 200px;
    width: 20%;
    padding: 20px;
    justify-content: center;
    color: #000
}

.arrow-fill-bx li img {
    width: 16px;
    height: 16px;
    margin-right: 5px
}

.popup-modal .modal-body,ul.arrow-fill-bx {
    padding: 0
}

.over-image .image {
    position: relative;
    transition: .6s
}

.over-image:hover .image {
    transform: scale(1.2)
}

.lets-form-bx form input {
    height: 45px
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: unset!important;
    outline: 0;
    box-shadow: unset!important
}

#testimonialCarousel {
    display: flex;
    justify-content: flex-end
}

.clearfix {
    clear: both
}

#contact-cta-section {
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    padding: 35px 0 10px;
    float: left;
    width: 100%;
    text-align: center
}

.wrapper-full {
    position: relative;
    width: 1050px;
    margin: 0 auto
}

.form,.slider {
    margin: auto
}

.cta-wrapper {
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px
}

.cta-wrapper .blue-cta-button {
    padding: 5px 0;
    text-transform: capitalize;
    margin-top: -25px!important;
    font-size: 18px!important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 9px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    white-space: pre;
    margin: 0;
    color: #fff;
    background-color: #ff5a05;
    width: 15%;
    text-align: center
}

@keyframes scroll {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}

.slide img {
    padding: 30px;
    width: 100%;
    object-fit: contain
}

.slider {
    height: 100px;
    background-color: #000;
    position: relative;
    width: auto
}

.btn,.form,.input,.tab-results .tab-pane {
    width: 100%
}

.slider .slide-track {
    animation: 40s linear infinite scroll;
    display: flex;
    width: calc(250px * 14)
}

.slider .slide {
    height: 100px;
    width: 250px
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url(https://viralon-frontend.vercel.app/assets/images/icons/plus.svg)!important;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out
}

.accordion-button:not(.collapsed)::after {
    background-image: url(https://viralon-frontend.vercel.app/assets/images/icons/minus.svg)!important
}

.form {
    border-radius: 10px;
    z-index: 1000;
    display: grid;
    grid-template-columns: repeat(2,1fr)
}

.circle {
    border-radius: 50%;
    background: linear-gradient(58deg,#00000012 20%,#ffffff3d);
    position: absolute
}

.circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px
}

.circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px
}

.contact-form:before {
    content: "";
    position: absolute;
    display: none;
    width: 26px;
    height: 26px;
    background-color: #fff;
    transform: rotate(45deg);
    top: 50px;
    left: -13px
}

form {
    z-index: 10
}

.title {
    color: #fff;
    font-weight: 400;
    font-size: 3.2rem;
    margin-bottom: 50px;
    font-family: serif
}

.input-container {
    margin: 1.4rem 0
}

.input {
    outline: 0;
    border: 2px solid #fafafa;
    background: 0 0;
    padding: 0.6rem 1.1rem;
    color: #fff;
    font-weight: 500;
    color: #818181;
    background: white;
    font-size: 13px;
    letter-spacing: .5px;
    border-radius: 9px;
    transition: .3s
}

.input-container label,.input-container span {
    padding: 0 .4rem;
    pointer-events: none;
    position: absolute
}

.input-container label {
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #fafafa;
    font-size: .9rem;
    font-weight: 400;
    z-index: 1000;
    transition: .5s
}

.input-container span {
    left: 25px;
    font-size: .8rem;
    transform: translateY(-50%);
    top: 0;
    color: transparent;
    z-index: 500
}

.btn {
    padding: .6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: .95rem;
    color: #000;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    transition: .3s;
    margin: 0
}

.btn:hover,.contact-info .title,.information i,.text {
    color: #fff
}

.btn:hover {
    background-color: transparent
}

.text-orange {
    color: #ff5a05
}

.input-container span:after,.input-container span:before {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: .3s;
    height: 5px;
    background-color: #ff5e28;
    top: 50%;
    transform: translateY(-50%)
}

.input-container span:after {
    right: 50%
}

.contact-info {
    padding: 2.3rem 2.2rem
}

.bg-image-1 .heading,.onboard-section .heading,.what-we-do-area .heading {
    color: #fff!important
}

.text {
    margin: 1.5rem 0 2rem
}

.information {
    display: flex;
    color: #555;
    margin: .7rem 0;
    align-items: center;
    font-size: .95rem
}

.icon {
    width: 28px;
    margin-right: .7rem
}

.bg-orange {
    background-color: #ff5a05!important;
    margin-top: 15px!important
}

.social-media {
    padding: 2rem 0 0
}

.social-media p {
    color: #333
}

.social-icons {
    display: flex;
    margin-top: .5rem
}

.social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    background: #7840d49e;
    margin-right: .5rem;
    transition: .3s
}

.card-body {
    display: flex;
    flex-flow: column
}

.card-body .card-title {
    font-size: 16px;
    margin-bottom: 0
}

.card-body .card-text {
    font-size: 14px;
    height: 141px;
    overflow: hidden;
    padding-top: 15px
}

.card-body .text-secondary {
    font-size: 12px
}

.social-icons a:hover {
    transform: scale(1.05)
}

.big-circle,.big-circle:after {
    border-radius: 50%;
    position: absolute
}

.big-circle {
    width: 500px;
    height: 500px;
    background: linear-gradient(to bottom,#fff,#bba8a1);
    bottom: 27%;
    right: 59%;
    transform: translate(-40%,38%);
    z-index: -1
}

.big-circle:after {
    content: "";
    width: 360px;
    height: 360px;
    background-color: #fafafa;
    top: calc(50% - 180px);
    left: calc(50% - 180px)
}

.contact-info p{
    font-size: 18px;;
}



@media (max-width: 850px) {
    .form {
        grid-template-columns:1fr;
        display: flex;
        flex-wrap: wrap-reverse
    }

    .contact-info:before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(.95)
    }

    .contact-form:before {
        top: -13px;
        left: initial;
        right: 70px
    }

    .big-circle {
        bottom: 63%;
        transform: scale(.9) translate(-40%,30%);
        right: 50%
    }

    .text {
        margin: 1rem 0 1.5rem
    }

    .social-media {
        padding: 1.5rem 0 0
    }
}

@media (max-width: 480px) {
    .contact-info:before {
        display:none
    }

    .contact-info,form {
        padding: 20px 0;
        width: 100%
    }

    .information,.social-media p,.text {
        font-size: .8rem
    }

    .title {
        font-size: 1.5rem
    }

    .social-icons a {
        width: 30px;
        height: 30px;
        line-height: 30px
    }

    .icon {
        width: 23px
    }

    .btn,.input {
        padding: .45rem 1.2rem
    }
}

.contact-info p {
    margin-bottom: 0;
    color: #fff
}

.g-review-bx:after,.g-review-bx:before {
    position: absolute;
    width: 100%
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: 50s linear infinite marquee!important
}

.blue-cta-button,.popup-btn {
    text-decoration: none;
    white-space: pre;
    text-align: center
}

.track .content {
    color: #fff;
    font-size: 8.625rem;
    font-weight: 700;
    line-height: 23.625rem;
    text-shadow: 6px 5px 14px rgb(0 0 0 / 32%)
}

.pdding img {
    padding: 30px!important
}

@keyframes marquee {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-50%)
    }
}

.section-brands {
    background-color: #ec6408
}

.g-review-bx {
    height: 600px;
    position: relative;
    padding: 20px;
    box-shadow: rgba(0,0,0,.24) 0 3px 8px
}

.g-review-bx:before {
    content: '';
    top: -20px;
    height: 20px;
    right: 0;
    left: 0;
    background: #ffeae7
}

.g-review-bx:after {
    content: '';
    bottom: 0;
    height: 20px;
    z-index: 100;
    right: 0;
    left: 0;
    background: #ffebe8
}

.footer-img {
    width: 100%;
    margin-top: 50px
}

.blue-cta-button {
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 9px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    font-weight: 600;
    display: inline-block;
    margin: 0;
    color: #fff;
    background-color: #391476;
    padding: 6px 0;
    width: 150px;
    font-size: 18px!important;
    border: none
}

.login-with-google-btn {
    transition: background-color .3s,box-shadow .3s;
    padding: 9px 6px 6px 38px;
    border: none;
    border-radius: 3px;
    color: #757575;
    font-size: 13px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 12px 11px
}

.cilents-bx .para,.popup-modal .modal-dialog {
    max-width: 800px;
    margin-bottom: 0;
    border-radius: 50px
}

.frequently-asked-bx .accordion-body {
    color: #4f4f4f
}

.bg-pop-image {
    background-image: url(https://viralon-frontend.vercel.app/assets/images/popup-img.webp);
    background-size: cover;
    width: 100%;
    border-radius: 0 20px 20px 0
}

.bx-2 {
    display: flex;
    justify-content: space-between;
    border-radius: 50px
}

.bx-40 {
    width: 40%
}

.bx-60 {
    width: 60%;
    padding: 50px;
    border-radius: 20px 0 0 20px;
    position: relative
}

.popup-modal .btn-close {
    position: absolute;
    color: #fff;
    right: 0;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    opacity: 1
}

.popup-modal .footer-img {
    position: absolute;
    margin: 0;
    width: 100%;
    left: 0;
    bottom: 0
}

.popup-modal .contact-form {
    background: unset;
    padding: 0
}

.popup-btn {
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 9px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    font-weight: 600;
    margin: 40px auto 0;
    color: #fff;
    background-color: #ff5e28;
    padding: 5px 0;
    width: 45%;
    font-size: 18px!important;
    border: none;
    display: block
}

.popup-modal .input {
    background: #fff
}

.popup-modal .input-container label {
    color: #202020c7;
    font-size: 17px
}

.content {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 160px;
    font-family: Lato,sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: #ecf0f1
}

.content__container {
    font-weight: 600;
    height: 40px;
    padding: 0 40px
}

.content__container:before {
    content: "[";
    left: 0
}

.content__container:after {
    content: "]";
    right: 0
}

.content__container:after,.content__container:before {
    position: absolute;
    top: 0;
    color: #16a085;
    font-size: 42px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite
}

.content__container__text {
    display: inline;
    float: left;
    margin: 0;
    font-weight: 400
}

.popup-modal .modal-content {
    border-radius: 50px!important
}

.content__container__list {
    margin-top: 0;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite
}

.content__container__list__item {
    line-height: 40px;
    margin: 0
}

@-webkit-keyframes opacity {
    0%,100% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

@-webkit-keyframes change {
    0%,100%,12.66% {
        transform: translate3d(0,0,0)
    }

    16.66%,29.32%,83.3%,95.96% {
        transform: translate3d(0,-25%,0)
    }

    33.32%,45.98%,66.64%,79.3% {
        transform: translate3d(0,-50%,0)
    }

    49.98%,62.64% {
        transform: translate3d(0,-75%,0)
    }
}

@keyframes opacity {
    0%,100% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

@keyframes change {
    0%,100%,12.66% {
        transform: translate3d(0,0,0)
    }

    16.66%,29.32%,83.3%,95.96% {
        transform: translate3d(0,-25%,0)
    }

    33.32%,45.98%,66.64%,79.3% {
        transform: translate3d(0,-50%,0)
    }

    49.98%,62.64% {
        transform: translate3d(0,-75%,0)
    }
}

.animated-text {
    position: relative;
    display: inline-block;
    font-family: serif
}

.animated-text-inner {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 700;
    font-size: 60px
}

.animated-text-inner::after {
    content: "";
    position: absolute;
    top: 20px;
    right: -5px;
    width: 0;
    height: 60%;
    border-right: 2px solid #fff;
    animation: 3s steps(20) forwards typing
}

@keyframes typing {
    0% {
        width: 0
    }

    100% {
        width: 100%
    }
}

.contact-info .title {
    padding-top: 13px;
    font-size: 60px;
    font-family: serif
}

.contact-form {
    background: #4d2c84;
    padding: 50px;
    border-radius: 22px
}

@media (max-width: 760px) {
    .arrow-fill-bx,.shape-image-3 {
        left:0
    }

    .animated-text-inner {
        font-size: 35px
    }

    .animated-text-inner::after {
        top: 10px
    }

    .bx-2,.why-us-content-bx {
        flex-wrap: wrap
    }

    .popup-modal .title {
        margin-bottom: 30px
    }

    .popup-modal .btn-close {
        right: 0;
        z-index: 1000
    }

    .popup-modal .bx-60 {
        width: 100%;
        padding: 10px;
        /* background-image: url(https://viralon-frontend.vercel.app/assets/images/popup-img.webp)!important; */
        height: auto;
        display: flex;
        border-radius: 20px;
        flex-flow: column;
        justify-content: flex-end;
        background-repeat: no-repeat
    }

    .contact-form {
        padding: 20px;
        width: 100%
    }

    .popup-modal .bx-60:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #0000007a;
        left: 0;
        right: 0;
        top: 0;
        border-radius: 20px;
        bottom: 0
    }

    .popup-modal .input {
        padding: 6px 9px;
    }

    .popup-modal .input-container label {
        color: #202020c7;
        font-size: 14px
    }

    .input-container {
        margin: 1.1rem 0
    }

    .popup-modal .popup-btn {
        font-size: 16px!important;
        margin: 28px auto 0
    }

    .shape-image img,.why-us-items.active,.why-us-items:hover,.wrapper-full {
        width: 100%
    }

    .hero-section {
        overflow: hidden;
        padding: 88px 0 100px;
        background: #391476
    }

    .pt-100,.ptb-100 {
        padding-top: 14px
    }

    .video-embed-area {
        width: 370px;
        margin-top: 10px
    }

    .heading,.main-heading {
        font-size: 24px;
        margin-top: 15px
    }

    .hero-creative img {
        bottom: 7%;
        transform: scale(2.1)
    }

    .bg-image-1 {
        background-position: right;
        width: 92%;
        margin: auto;
        border-radius: 25px
    }

    .ptb-100 {
        padding-bottom: 50px
    }

    .star-bx .star-heading {
        font-size: 70px
    }

    .star-bx {
        max-width: unset;
        justify-content: flex-start;
        flex-wrap: wrap
    }

    .google-bx {
        padding-top: 10px;
        padding-left: 0
    }

    .google-bx>img {
        width: 85px
    }

    .review-txt img {
        width: 50px
    }

    .bg-image .para {
        padding-top: 15px
    }

    .bg-image {
        max-width: 98%;
        margin: auto;
        padding: 20px 0 50px
    }

    .blue-cta-button,.sticky .logo,.tabuler-section .text p {
        margin-bottom: 0!important
    }

    .carousel-inner,.req-forms,.social-media {
        padding: 0
    }

    .bg-image .bg-body-tertiary {
        padding: 0!important
    }

    .req-forms .pt-50 {
        padding-top: 30px!important
    }

    form.req-forms input {
        height: 40px
    }

    form.req-forms button {
        font-size: 16px
    }

    .process-area {
        flex-wrap: wrap;
        padding-top: 15px!important;
        padding-bottom: 0
    }

    .cta-wrapper,.first-content {
        align-items: center;
        display: flex
    }

    .process-area>div {
        width: calc(50% - 8px);
        padding: 19px;
        height: auto;
        background-color: #43207d;
        margin-top: 16px;
        border-radius: 7px
    }

    .arrow-up {
        display: none!important
    }

    .process-area>div p {
        font-weight: 400;
        color: #fff;
        margin-bottom: 0;
        padding-top: 11px;
        font-size: 16px;
        max-width: 110px
    }

    .contact-info p {
        font-size: 17px
    }

    .process-item img {
        width: 55px
    }

    .cta-wrapper,.hover-tabs .row,.slide img {
        padding: 17px
    }

    .cta-wrapper .blue-cta-button {
        padding: 6px 7px;
        width: 150px;
        margin: auto;
        font-size: 13px
    }

    .why-us-items-section ol {
        padding: 0;
        flex-wrap: wrap
    }

    .why-us-items-section ol li {
        width: calc(100% - 0px);
        margin: 10px 0 0;
        position: relative
    }

    .first-content {
        max-width: 100%;
        top: 11px;
        position: absolute;
        height: 31px;
        background: #ffffff94;
        padding: 5px
    }

    .arrow-fill-bx li,.slider,.tab-results .image {
        position: relative
    }

    .first-content .why-numbers {
        font-size: 27px
    }

    .first-content h3 {
        margin: 0;
        font-size: 14px;
        padding-left: 7px
    }

    .why-us-item-bx {
        height: 220px
    }

    .over-image,.tab-results .image {
        height: auto;
        width: 100%
    }

    .faq-area,.why-us-section {
        padding-top: 20px!important
    }

    .hover-tabs-list a {
        font-size: 14px;
        margin: 0;
        display: flex;
        padding-left: 0;
        align-items: center;
        white-space: nowrap
    }

    .hover-tabs-list a img {
        margin-left: 1px;
        width: 10px;
        display: none
    }

    .width-40 {
        width: 38%;
        padding: 0
    }

    .width-60 {
        width: 62%;
        padding: 0;
        padding-top: 10px!important
    }

    .middle {
        padding: 8px;
        top: 0;
        height: 100%;
        left: 0;
        width: 100%
    }

    .arrow-fill-bx li {
        font-size: 10px
    }

    .hover-tabs {
        padding-top: 20px!important;
        overflow: hidden
    }

    .frequently-asked-bx .accordion-button {
        font-size: 16px;
    }

    .blur-shape2 {
        z-index: -1
    }

    .g-review-bx {
        padding: 10px!important
    }

    .track .content {
        font-size: 2.625rem;
        line-height: 6.625rem
    }

    .middle .text,.section-brands {
        margin-top: 0
    }

    .blue-cta-button {
        width: 115px;
        font-size: 14px!important
    }

    .contact-info .title {
        font-size: 40px;
        margin-bottom: 20px
    }

    .card-body .card-text,.card-body .card-title,.middle p {
        font-size: 12px
    }

    .slider .slide {
        height: 100px;
        width: 160px
    }

    .padding-left {
        padding-left: 0
    }

    .slider {
        height: 75px;
        background-color: #000;
        width: auto;
        display: flex;
        align-items: center
    }

    .slider .slide-track {
        animation: 40s linear infinite scroll;
        display: flex;
        width: calc(250px* 14);
        margin-top: -27px;
        height: 70px
    }

    p.fris-para {
        margin-bottom: 15px
    }

    .carousel-inner .carousel-item .card-body>div {
        flex-flow: column;
        padding-top: 0!important
    }

    .carousel img {
        width: 50px;
        max-height: 50px;
        border-radius: 50%;
        margin-bottom: 10px;
        margin-right: 0
    }

    .carousel-item .review-txt img,.middle p {
        margin-bottom: 0
    }

    .card-body {
        padding: 7px
    }

    .card-body .card-text {
        height: 75px;
        margin-bottom: 0;
        padding-top: 5px;
        margin-top: 0!important
    }

    .login-with-google-btn {
        padding: 12px 6px 6px 38px;
        font-size: 10px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 12px 11px
    }

    .carousel .card {
        height: 235px
    }

    .card-body .text-secondary {
        font-size: 12px;
        margin-top: -1px;
        display: block
    }

    .contact-info .info {
        padding-top: 0!important
    }

    .middle h3 {
        font-size: 15px;
        margin-bottom: 5px!important
    }


    .video-embed-area iframe {
        width: 100%;
        height: 413px;
    }

    .tabuler-section ul {
        flex-wrap: nowrap;
        position:relative;
        overflow: auto;
        padding-top: 40px;
        padding-bottom: 25px
    }

    .tabuler-section {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        padding-top: 40px;
        width:100%!important;
        padding-right: 0!important;
        padding-bottom: 25px;
    }
    
    /* Transparent overlay to force scrollbar visibility */
    .tabuler-section .inner-wrapper::after {
        content: "";
        position: absolute;
        bottom:0;
        left: 0;
        width: 50%; /* Width of scrollbar */
        height: 4px;
        background: #fff;
        pointer-events: none; /* Allow interactions with the content */
        z-index: 1;
    }
    
    /* Webkit-based browsers (Chrome, Safari) */
    .tabuler-section::-webkit-scrollbar {
        width: 12px; /* Adjust width as needed */
    }
    
    .tabuler-section::-webkit-scrollbar-thumb {
        background-color: white; /* Color of the scrollbar thumb */
        border-radius: 6px; /* Rounded corners */
    }
    
    .tabuler-section::-webkit-scrollbar-track {
        background-color: transparent; /* Color of the track (background) */
    }
    
    /* Firefox */
    .tabuler-section {
        scrollbar-width: thin; /* Thin scrollbar */
        scrollbar-color: white transparent; /* Color of the scrollbar thumb and track */
    }
    

    .tabuler-section .nav-pills .nav-link {
        border: 0;
        border-radius: 10px;
        border: 1px solid #ffffff6e;
        height: 70px;
        width: 70px;
        margin: 0 10px;
        padding: 13px
    }

    .tabuler-section .text h3 {
        margin-bottom: 25px!important
    }

    .arrow-fill-bx li {
        display: flex;
        align-items: center;
        overflow: hidden;
        margin: 5px 3px;
        flex-flow: column;
        background: #fff;
        height: 152px;
        width: 31.33%;
        padding: 13px
    }

    ul.arrow-fill-bx {
        flex-wrap: wrap;
        justify-content: center
    }

    .tabuler-section .count-num {
        position: absolute;
        top: -26px;
        left: -19px;
        color: #ff5702;
        background: #ff5702;
        height: 60px;
        width: 60px;
        border-radius: 50px
    }

    .count-num h2 {
        font-size: 17px;
        padding-top: 33px;
        padding-left: 33px
    }

    .video-embed-area {
        height: 413px;
    }

    .footer-img {
        margin-top: 10px!important
    }

    .mob-none,.popup-modal .footer-img {
        display: none
    }

    .desk-none {
        display: block
    }

    .sticky .logo img {
        width: 90px
    }

    .contact-info .text{
        font-size: 22px!important;;
    }

    .popup-modal {
        width: 85% !important;
        position: fixed; /* Ensure the modal is fixed in the viewport */
        left: 50%; /* Center horizontally */
        top: 50%; /* Center vertically */
        transform: translate(-50%, -50%); /* Offset the modal by 50% of its own width and height */
        /* Additional styles as needed */
    }
    
    .desk-none,.fris-para {
        display: block!important;
    }


    .border-10 {
        border-width: 0px !important;
    }

    .why-us-content-bx  p.fris-para {
        margin-bottom: 0px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 10px;
    }



    
}

@media (max-width: 380px) {
    .star-bx .star-heading {
        font-size:60px
    }

    .video-embed-area {
        width: 345px
    }

    .hover-tabs-list a {
        font-size: 17px;
        margin: 10px 0;
        padding-left: 0
    }

    .arrow-fill-bx li {
        font-size: 14px;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        flex-flow: column;
        background: #fff;
        height: 132px;
        width: 43.33%;
        padding: 15px;
        margin: 10px!important
    }

    .cta-wrapper .blue-cta-button {
        font-size: 12px
    }
}
